<div class="invoice-card-container">
  <div class="item invoice-id"><span>#</span>{{ invoice.id }}</div>
  <div class="item invoice-paymentDue">Due {{ invoice.paymentDue | date }}</div>
  <div class="item invoice-name">{{ invoice.clientName }}</div>
  <div class="item invoice-total">{{ invoice.total | currency: "EUR" }}</div>
  <div class="item invoice-status" [ngClass]="invoiceStatusStyle">
    <div class="oval-small"></div>
    <div class="invoice-status-text">{{ invoice.status | titlecase }}</div>
  </div>
  <div class="item placeholder"></div>
</div>
