/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

//General Theme

$font-family-primary: Spartan;
$font-size-primary: 0.75rem;
$font-size-secondary: 0.6875rem;
$font-line-height-primary: 0.9375rem;
$font-line-height-secondary: 1.125rem;

///Dark Theme

$background-color-primary: #141625;
$background-color-secondary: #1e2139;
$font-color-primary: #d1d3d4;
$font-color-secondary: #ffffff;
$font-color-small-text: rgba(223, 227, 250, 1);
$h2-color-primary: rgba(255, 255, 255, 1);
$draft-background-color: rgba(223, 227, 250, 0.0571);
$draft-main-color: #dfe3fa;


///Light Theme
/*
$background-color-primary: #f2f2f2;
$background-color-secondary: #ffffff;
$font-color-primary: #d1d3d4;
$font-color-secondary: #0c0e16;
$font-color-small-text: rgba(133, 139, 178, 1);
$h2-color-primary: rgba(255, 255, 255, 1);
$draft-background-color: rgba(55, 59, 83, 0.0571);
$draft-main-color: rgba(55, 59, 83, 1);
*/
/*
color: #0C0E16
(126, 136, 195, 1);


*/

///payment statusus Ligh

body {
  margin: 0;
  padding: 0;
  font-family: $font-family-primary;
  font-size: $font-size-primary;
  line-height: $font-line-height-primary;
}

h1 {
  font-size: 2rem;
  line-height: 2.25rem;
}
h2 {
  font-size: 1.25rem;
  line-height: 1.375rem;
  color: $h2-color-primary;
}
h3 {
  font-size: 1rem;
  line-height: 1.5rem;
}

.oval-small {
  width: 8px;
  height: 8px;
  background: rgba(51, 214, 159, 1);
  border-radius: 50%;
}
